In [1]:
# pip install pandas requests sqlalchemy psycopg2-binary

In [38]:
import requests
import pandas as pd
import time

def fetch_movie_data(api_key, year):
    base_url = "http://www.omdbapi.com/"
    movies = []
    page = 1
    
    while True:
        params = {
            'apikey': api_key,
            's': 'movie',  # Search for all movies
            'type': 'movie',
            'y': year,
            'page': page
        }
        response = requests.get(base_url, params=params)
        if response.status_code == 200:
            data = response.json()
            if data.get('Search'):
                movies.extend(data['Search'])
                total_results = int(data['totalResults'])
                print(f"Fetched page {page} for year {year}. Total results: {total_results}")
                if len(movies) >= total_results:
                    break
                page += 1
                time.sleep(1)  # Add a delay to avoid hitting rate limits
            else:
                print(f"No more results for year {year} on page {page}")
                break
        else:
            print(f"Error {response.status_code} fetching data for year {year}, page {page}")
            break
    
    return pd.DataFrame(movies)

# Usage
api_key = ''#your Api key
year = 2021 # Change year 

df = fetch_movie_data(api_key, year)
print(f"Total movies fetched for {year}: {len(df)}")
print(df.head())

Fetched page 1 for year 2021. Total results: 245
Fetched page 2 for year 2021. Total results: 245
Fetched page 3 for year 2021. Total results: 245
Fetched page 4 for year 2021. Total results: 245
Fetched page 5 for year 2021. Total results: 245
Fetched page 6 for year 2021. Total results: 245
Fetched page 7 for year 2021. Total results: 245
Fetched page 8 for year 2021. Total results: 245
Fetched page 9 for year 2021. Total results: 245
Fetched page 10 for year 2021. Total results: 245
Fetched page 11 for year 2021. Total results: 245
Fetched page 12 for year 2021. Total results: 245
Fetched page 13 for year 2021. Total results: 245
Fetched page 14 for year 2021. Total results: 245
Fetched page 15 for year 2021. Total results: 245
Fetched page 16 for year 2021. Total results: 245
Fetched page 17 for year 2021. Total results: 245
Fetched page 18 for year 2021. Total results: 245
Fetched page 19 for year 2021. Total results: 245
Fetched page 20 for year 2021. Total results: 245
Fetched page 21 for year 2021. Total results: 245
Fetched page 22 for year 2021. Total results: 245
Fetched page 23 for year 2021. Total results: 245
Fetched page 24 for year 2021. Total results: 245
Fetched page 25 for year 2021. Total results: 245
Total movies fetched for 2021: 245
                   Title  Year      imdbID   Type  \
0  PAW Patrol: The Movie  2021  tt11832046  movie
1   The Loud House Movie  2021   tt6714432  movie
2     2gether: The Movie  2021  tt14296268  movie
3            A Cop Movie  2021  tt14035242  movie
4   Shatagni - The Movie  2021  tt14650250  movie

                                              Poster
0  https://m.media-amazon.com/images/M/MV5BYTJmM2...
1  https://m.media-amazon.com/images/M/MV5BOTg4MT...
2  https://m.media-amazon.com/images/M/MV5BNzg1Zm...
3  https://m.media-amazon.com/images/M/MV5BZWM5OG...
4  https://m.media-amazon.com/images/M/MV5BMTIxMz...

In [39]:
df['Title'].unique

<bound method Series.unique of 0                     PAW Patrol: The Movie
1                      The Loud House Movie
2                        2gether: The Movie
3                               A Cop Movie
4                      Shatagni - The Movie
                       ...
240            Screenplay Movie: Blood Ties
241             Screenplay Movie: Two Women
242        The Prank Movie Human Parts Saga
243                         The Biker Movie
244    Mankai Movie 'A3!' -Spring & Summer-
Name: Title, Length: 245, dtype: object>

In [40]:
df.to_csv('Movies2021.csv')

In [41]:
# df21 = pd.read_csv('Movies2021.csv')
# df22 = pd.read_csv('Movies2022.csv')
# df23 = pd.read_csv('Movies2023.csv')

In [49]:
df

,Title,Year,imdbID,Type,Poster
0,PAW Patrol: The Movie,2021,tt11832046,movie,https://m.media-amazon.com/images/M/MV5BYTJmM2...
1,The Loud House Movie,2021,tt6714432,movie,https://m.media-amazon.com/images/M/MV5BOTg4MT...
2,2gether: The Movie,2021,tt14296268,movie,https://m.media-amazon.com/images/M/MV5BNzg1Zm...
3,A Cop Movie,2021,tt14035242,movie,https://m.media-amazon.com/images/M/MV5BZWM5OG...
4,Shatagni - The Movie,2021,tt14650250,movie,https://m.media-amazon.com/images/M/MV5BMTIxMz...
...,...,...,...,...,...
715,BTOB TIME: Be Together the Movie,2023,tt30427921,movie,NaN
716,Pamli chori Banjara Movie,2023,tt30447965,movie,NaN
717,Swing the Movie,2023,tt30488118,movie,https://m.media-amazon.com/images/M/MV5BN2Q3Nj...
718,Liquor Run the Movie,2023,tt30490530,movie,https://m.media-amazon.com/images/M/MV5BNWY2MG...
719,Hanshin Tigers the Movie 2023,2023,tt30504595,movie,https://m.media-amazon.com/images/M/MV5BOTEwNW...

Similarly we pull the data for three years 2012,2022,2023

In [51]:


# Create a 'ViewCount' column to simulate user behavior
import numpy as np
df['ViewCount'] = np.random.randint(1000, 100000, size=len(df))

# Add a 'Rating' column ( it's not already in the API response)
df['Rating'] = np.random.uniform(1, 10, size=len(df))

# Clean up column names
df.columns = df.columns.str.lower()

print(df.head())
print(df.info())

                   title  year      imdbid   type  \
0  PAW Patrol: The Movie  2021  tt11832046  movie
1   The Loud House Movie  2021   tt6714432  movie
2     2gether: The Movie  2021  tt14296268  movie
3            A Cop Movie  2021  tt14035242  movie
4   Shatagni - The Movie  2021  tt14650250  movie

                                              poster  viewcount    rating
0  https://m.media-amazon.com/images/M/MV5BYTJmM2...      42488  1.076572
1  https://m.media-amazon.com/images/M/MV5BOTg4MT...      21410  8.351604
2  https://m.media-amazon.com/images/M/MV5BNzg1Zm...      87932  2.125574
3  https://m.media-amazon.com/images/M/MV5BZWM5OG...      80853  9.567189
4  https://m.media-amazon.com/images/M/MV5BMTIxMz...      70369  9.571052
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      720 non-null    object
 1   year       720 non-null    int64
 2   imdbid     720 non-null    object
 3   type       720 non-null    object
 4   poster     505 non-null    object
 5   viewcount  720 non-null    int32
 6   rating     720 non-null    float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 36.7+ KB
None

In [52]:
df.tail()

,title,year,imdbid,type,poster,viewcount,rating
715,BTOB TIME: Be Together the Movie,2023,tt30427921,movie,NaN,81695,4.438802
716,Pamli chori Banjara Movie,2023,tt30447965,movie,NaN,44820,6.170941
717,Swing the Movie,2023,tt30488118,movie,https://m.media-amazon.com/images/M/MV5BN2Q3Nj...,94462,9.655397
718,Liquor Run the Movie,2023,tt30490530,movie,https://m.media-amazon.com/images/M/MV5BNWY2MG...,75140,5.700219
719,Hanshin Tigers the Movie 2023,2023,tt30504595,movie,https://m.media-amazon.com/images/M/MV5BOTEwNW...,91135,9.054780

In [53]:
from sqlalchemy import create_engine

# Replace with your actual database credentials
db_username = ''
db_password = ''
db_host = 'localhost'
db_name = 'movies'

engine = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}/{db_name}')

# Store the data in the database
df.to_sql('movie_data', engine, if_exists='replace', index=False)

print("Data successfully stored in the database.")

Data successfully stored in the database.